.navbar {
  background-color: #333 !important;
  color: #fff;
}
.nav-link {
  color: #fff !important;
  text-decoration: none;
}
.uppercase {
  text-transform: uppercase;
}
.pointer {
  cursor: pointer;
}

